<title><%= title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<%== og_meta_data_tags %>
<%== meta_data_tags %>
<%== meta_robots %>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'aypex/checkout/aypex_checkout.min', media: 'screen', data: { turbo_track: 'reload' } %>
<%= javascript_include_tag "aypex_checkout.min", data: { turbo_track: "reload" }, async: true %>

<%= yield :head %>
