<h5>
  <%= I18n.t('aypex_checkout.sign_in_to_continue') %>
</h5>

<%= form_for Aypex.user_class.new, as: :aypex_user, url: aypex_login_path do |f| %>
  <div id="password-credentials">
    <div class="form-floating mb-3">
      <%= f.email_field :email, placeholder: I18n.t('aypex_checkout.email'), value: params.dig(:aypex_user, :email) %>
      <%= f.label :email, I18n.t('aypex_checkout.email') %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password, placeholder: I18n.t('aypex_checkout.password') %>
      <%= f.label :password, I18n.t('aypex_checkout.password') %>
    </div>
  </div>

  <div class="form-check mb-3">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, I18n.t('aypex_checkout.remember_me') %>
  </div>

  <div class="d-flex mb-3">
    <div class=me-2>
       <%= f.submit I18n.t('aypex_checkout.sign_up'), class: 'btn btn-outline-secondary' %>
    </div>

    <div class='flex-fill ms-2'>
       <%= f.submit I18n.t('aypex_checkout.sign_in'), class: 'btn btn-primary w-100' %>
    </div>
  </div>
<% end %>

<% if aypex.respond_to?(:recover_password_path) %>
  <div class="text-end">
    <%= link_to I18n.t('aypex_checkout.forgot_password'), aypex.recover_password_path %>
  </div>
<% end %>
