<% if !try_aypex_current_user || try_aypex_current_user.email.blank? %>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="d-flex">
        <div class=flex-fill>
          <h5>
            <%= I18n.t('aypex_checkout.contact_information') %>
          </h5>
        </div>
        <div>
          <span class="text-muted"><%= I18n.t('aypex_checkout.already_have_an_account') %></span> <%= link_to(I18n.t('aypex_checkout.sign_in'), aypex.checkout_users_login_path, data: { turbo_frame: :modal }) %>
        </div>
      </div>

      <div class="form-floating mb-1">
        <%= form.email_field :email, required: true, placeholder: I18n.t("aypex.checkout.email") %>
        <%= form.label :email %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row mb-4">
    <div class="col-12">
      <h5>
        <%= I18n.t('aypex_checkout.contact_information') %>
      </h5>

      <div class="d-flex">
        <div class="flex-fill">
          <%= try_aypex_current_user.first_name %>
          <%= try_aypex_current_user.email %>
        </div>
        <div>
          <%= link_to I18n.t('aypex_checkout.sign_out'), aypex_logout_path %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<div class="row">
  <% ['shipping'].each do |address_type| %>
    <% address_kind = "#{address_type[0...4]}_address" %>

    <div class="col-12" data-hook="<%= address_kind %>_fieldset_wrapper" data-controller='form--validation'>
      <div class=d-flex>
        <div class=flex-fill>
          <h5>
            <%= I18n.t("aypex.checkout.#{address_type}_address") %>
          </h5>
        </div>

        <% if aypex_checkout_user_available_addresses.present? %>
          <div>
            <%= link_to(aypex.address_manager_checkout_addresses_path, class: 'btn btn-sm btn-link',method: :get, data: { turbo_frame: :modal }) do %>
              Use an existing address
            <% end %>
          </div>
        <% end %>
      </div>

      <%= form.fields_for address_kind.to_sym do |address_form| %>
        <%= render partial: 'aypex/checkout/addresses/form', locals: { address_kind: address_kind, form: address_form } %>
      <% end %>

      <%= button_tag :update_country, formaction: aypex.checkout_change_address_country_path(address_kind: address_kind), formmethod: :post, formnovalidate: true, style: 'display: none;', data: { form__validation_target: "submitBtn" } %>
    </div>

    <% if address_type == 'shipping' %>
      <div class="d-none" data-hook="use_billing">
        <div class="form-check">
          <%= form.check_box :use_shipping, { class: 'form-check-input' }, true, @order.shipping_eq_billing_address? %>
          <%= form.label :use_shipping, I18n.t("aypex.checkout.use_shipping") %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= hidden_field_tag :save_user_address, true %>
</div>
