<div class="checkout-confirm-delivery-informations text-start mt-3 <%= class_name %>">
  <div class="d-lg-none checkout-confirm-delivery-informations-header">
    <%= I18n.t("aypex.checkout.delivery_information") %>
  </div>
  <dl>
    <% if order.has_step?("address") %>
      <div data-hook="order-ship-address">
        <dt class="text-uppercase">
          <%= I18n.t("aypex.checkout.shipping_address") %>
          <%= checkout_edit_link %>
        </dt>
        <%= render 'aypex/shared/address', address: order.ship_address %>
      </div>
      <div data-hook="order-bill-address">
        <dt class="text-uppercase">
          <%= I18n.t("aypex.checkout.billing_address") %>
          <%= checkout_edit_link %>
        </dt>
        <%= render 'aypex/shared/address', address: order.bill_address %>
      </div>
    <% end %>
    <% if order.has_step?("delivery") %>
      <div data-hook="order-shipment">
        <dt class="text-uppercase">
          <%= I18n.t("aypex.checkout.shipping") %>
          <%= checkout_edit_link('delivery') %>
        </dt>
        <% @order.shipments.valid.each do |shipment| %>
          <dd><%= shipment.shipping_method&.name %> </dd>
        <% end %>
        <%= render 'aypex/shared/shipment_tracking', order: order if order.shipped? %>
      </div>
    <% end %>
    <% if order.has_step?("payment") %>
      <div data-hook="order-payment">
        <dt class="text-uppercase">
          <%= I18n.t("aypex.checkout.payment") %>
          <%= checkout_edit_link('payment') %>
        </dt>
        <dd>
          <%= render collection: @order.payments.valid, partial: 'aypex/shared/payment' %>
        </dd>
        <dd>
          <% if @order.using_store_credit? %>
            <%= button_tag I18n.t("aypex.checkout.remove"), name: 'remove_store_credit', class: 'continue btn' %>
          <% end %>
        </dd>
      </div>
    <% end %>
  </dl>
</div>
