<% address_type = address_kind.to_sym %>

<%= fields_for :order, @order do |ord| %>
  <%= ord.fields_for address_type do |f| %>
    <div class="row">
      <div class=<%= aypex_checkout_city_field_class(@order.send(address_type).country) %>>
        <div class="form-floating mb-3">
          <%= f.text_field :city, required: true, placeholder: I18n.t('aypex.checkout.city') %>
          <%= f.label :city, field_required_text(I18n.t('aypex.checkout.city')) %>
        </div>
      </div>

      <% if aypex_checkout_states_field_present?(@order.send(address_type).country) %>
        <div class="col-4">
          <div class="form-floating mb-3">
            <% if !@order.send(address_type).country.states.present? && @order.send(address_type).country.states_required? %>
              <%= f.text_field :state_name, required: true, placeholder: field_required_text(aypex_checkout_state_label(@order.send(address_type).country), required: @order.send(address_type).country.states_required?) %>
            <% elsif @order.send(address_type).country.states.present? %>
              <%= f.collection_select :state_id, @order.send(address_type).country.states.sort, :id, :name, {include_blank: true}, {required: @order.send(address_type).country.states_required?} %>
            <% end %>
            <%= f.label :state_id, field_required_text(aypex_checkout_state_label(@order.send(address_type).country), required: @order.send(address_type).country.states_required?) %>
          </div>
        </div>
      <% end %>

      <div class=<%= aypex_checkout_zip_field_class(@order.send(address_type).country) %>>
        <div class="form-floating mb-3">
          <%= f.text_field :zipcode, required: @order.send(address_type).country.zipcode_required?, placeholder: field_required_text(aypex_checkout_zipcode_label(@order.send(address_type).country), required: @order.send(address_type).country.zipcode_required?) %>
          <%= f.label :zipcode, field_required_text(aypex_checkout_zipcode_label(@order.send(address_type).country), required: @order.send(address_type).country.zipcode_required?) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

