<% address_type = address_kind.to_sym %>

<%= fields_for :order, @order do |ord| %>
  <%= ord.fields_for address_type do |f| %>
    <div class="row">
      <div class=<%= aypex_checkout_city_field_class(@order.send(address_type).country) %>>
        <div class="form-floating mb-3">
          <%= f.text_field :city, required: true, placeholder: I18n.t('aypex.checkout.city') %>

          <%= f.label :city do %>
            <%= I18n.t('aypex.checkout.city') %> <abbr class=required title=required>*</abbr>
          <% end %>
        </div>
      </div>

      <% if aypex_checkout_states_field_present?(@order.send(address_type).country) %>
        <div class="col-4">
          <div class="form-floating mb-3">
            <% if !@order.send(address_type).country.states.present? && @order.send(address_type).country.states_required? %>
              <%= f.text_field :state_name, required: true, placeholder: raw(aypex_checkout_state_label(@order.send(address_type).country) + aypex_checkout_required_span_tag(@order.send(address_type).country.states_required?)) %>
            <% elsif @order.send(address_type).country.states.present? %>
              <%= f.collection_select :state_id, @order.send(address_type).country.states.sort, :id, :name, {include_blank: true}, {required: @order.send(address_type).country.states_required?} %>
            <% end %>
            <%= f.label :state_id, raw(aypex_checkout_state_label(@order.send(address_type).country) + aypex_checkout_required_span_tag(@order.send(address_type).country.states_required?)) %>
          </div>
        </div>
      <% end %>

      <div class=<%= aypex_checkout_zip_field_class(@order.send(address_type).country) %>>
        <div class="form-floating mb-3">
          <%= f.text_field :zipcode, required: @order.send(address_type).country.zipcode_required?, placeholder: (raw(aypex_checkout_zipcode_label(@order.send(address_type).country)) + aypex_checkout_required_span_tag(@order.send(address_type).country.zipcode_required?)) %>
          <%= f.label :zipcode, (raw(aypex_checkout_zipcode_label(@order.send(address_type).country)) + aypex_checkout_required_span_tag(@order.send(address_type).country.zipcode_required?)) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

