<% content_for :modal_header do %>
  <h5 class="modal-title"><%= I18n.t('aypex_checkout.billing_address') %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">
    <% if !aypex_checkout_user_available_addresses.present? %>
      <div class="row">
        <div class="col-auto">
          <% aypex_checkout_user_available_addresses.each_with_index do |address, idx| %>
          <div class="row mb-3" id="<%= [address_type, dom_id(address)].join('_') %>">
            <label class="form-check-label aypex-radio-label col-8">
              <%= form.radio_button "#{address_name}_id", address.id, checked: (address.id == try_aypex_current_user["#{address_name}_id"] || idx == 0) %>
              <span class="aypex-radio-label-custom-input"></span>
                <%= render "aypex/checkout/addresses/users/address_v_card", address: address %>
            </label>

            <%= render "aypex/checkout/addresses/users/address_controls", address: address %>
          </div>
          <% end %>
          <div class="row mb-3">
            <label class="form-check-label aypex-radio-label col">
              <%#= form.radio_button "#{address_name}_id", 0, class: 'form-check-input' %> <h4><%= Aypex.t('address_book.other_address') %></h4>
              <span class="aypex-radio-label-custom-input"></span>
            </label>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <%#= remote_form_submit_button(@object) %>
<% end %>

<%= render partial: 'aypex/checkout/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>

