<% content_for :modal_header do %>
  <h5 class="modal-title"><%= Aypex.t(:log_in_to_continue) %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">
    <div class="col-12">
      <%= form_for Aypex.user_class.new, as: :aypex_user, url: aypex_login_path, data: { turbo: false } do |f| %>
        <div id="password-credentials">
          <div class="form-floating mb-3">
            <%= f.email_field :email, placeholder: Aypex.t(:email), value: params.dig(:aypex_user, :email) %>
            <%= f.label :email, Aypex.t(:email) %>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :password, placeholder: Aypex.t(:password) %>
            <%= f.label :password, Aypex.t(:password) %>
          </div>
        </div>

        <div class="form-check mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, Aypex.t(:remember_me) %>
        </div>

        <%= f.submit Aypex.t(:login), class: 'btn btn-primary w-100' %>
      <% end %>

      <% if aypex.respond_to?(:recover_password_path) %>
        <div class="text-center forgot-password mt-3">
          <%= link_to Aypex.t(:forgot_password), aypex.recover_password_path %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'aypex/checkout/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered' } %>

